body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
header {
background-color: transparent;
}
#navbarSupportedContent {
    text-align: right;
}
h3, h2 {
    margin: 2rem;
    font-weight: lighter;
}
/*card body seccion destacados*/
.card-body {
    background-color: aqua;
    color: #ffffff;
}









footer{
    background-color: aqua;
}
footer p {
    font-weight: lighter;
    margin: 2rem;
}
footer a {
    color: #ffffff;
}
/*apoyo a la responsibidad*/
@media screen and (max-width: 576px) {
    .img-foot {
        width: 10%;
    }
}
@media screen and (min-width: 577px) and (max-width: 992px){
    .img-foot {
        width: 15%;
    }
}