/*preparacion inicial*/
body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    scroll-behavior: smooth;
}
header {
background-color: transparent;
}
#navbarSupportedContent {
    text-align: right;
}
h3, h2 {
    margin: 2rem;
    font-weight: lighter;
}
.fa-solid {
    background-color: aqua;
    width: 100%;
    margin: 0 auto; 
    display: grid;
    place-content: center;
}
/*card body seccion destacados*/
.card-body {
    background-color: aqua;
    color: #ffffff;
}
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*linea invisible*/
hr {
    margin-top: 100px;
    border: none;
}
/*footer*/
footer{
    background-color: aqua;
}
footer p {
    font-weight: lighter;
    margin: 2rem;
}
footer a {
    color: #ffffff;
}
/*apoyo a la responsibidad*/
@media screen and (max-width: 574px) {
    .img-foot {
        width: 10%;
    }
}
@media screen and (min-width: 575px) and (max-width: 992px){
    .img-foot {
        width: 15%;
    }
}
/*desaparecer presentacion*/
@media screen and (max-width: 575px) {
    .ocultar-div{
        display:none;
    }
}
/*Notas al margen*/
/*
Se estan utilizando las siguientes versiones:
*Fontawesome Ver. 6
*Bootstrap Ver. 5.3
*jQuery Ver. 3.7.1